

<!-- Header-->
<header class="py-5">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
      <div class="m-4 m-lg-5">
        <h1 class="slogan mb-0">Unleashing Random Precision </h1>
        <p class="mb-4 small">by Ali Bozkoyun</p>

        <img alt="Bild welches Zufälligkeit Symbolisiert" class="responsive-img mb-4
                     no-select rounded" src="./assets/picIndex/Randomness.jpg">

      </div>
    </div>
  </div>
</header>
<!-- Page Content-->
<section class="pt-4">

  <div class="container px-lg-5">
    <!-- Page Features-->
    <div class="row gx-lg-5">
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100 no-select" onclick="toggleDiceText()">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
              <img alt="Würfel-Icon" class="custom-icon rounded" src="./assets/picIndex/dice.jpg">
            </div>

            <div id="diceTitle">
              <h2 class="fs-4 fw-bold">Dice Roll</h2>
              <p class="mb-0">Embark on a journey of chance! Roll the dice and let fate unveil its secrets
                in this virtual realm of randomness. The thrill of uncertainty awaits. Good luck,
                adventurer!</p>
            </div>

            <div id="diceText" style="display: none;">
              <label class="form-label mb-2" for="anzahlWuerfel">Number of dice:</label>
              <input class="form-control mb-2" id="anzahlWuerfel" min="1" onclick="stopPropagation(event)"
                     type="number"
                     value="1">
              <button class="btn btn-primary" onclick="wuerfelWurf() ,stopPropagation(event)">roll dice
              </button>
              <p class="mt-3" id="wurfErgebnis">Awaiting the result</p>
            </div>

          </div>
        </div>
      </div>


      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100 no-select" onclick="toggleCoinText()">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
              <img alt="Münz-Icon" class="custom-icon no-select rounded" src="./assets/picIndex/Munze.jpg">
            </div>

            <div id="coinTitle">
              <h2 class="fs-4 fw-bold">Coin Toss</h2>

              <p class="mb-0">Experience the flip of fate! Let the coin decide your destiny in this
                virtual
                realm of randomness. The excitement of uncertainty awaits. Best of luck!</p>
            </div>

            <div id="coinText" style="display: none;">
              <p class="mb-3">Awaiting the revelation of fate...</p>
              <p class="mb-3" id="coinResult">Coin toss result will be revealed...</p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100" onclick="toggleLottoContent()">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
              <img alt="Lotto-Icon" class="custom-icon no-select rounded" src="./assets/picIndex/lotto.jpg">
            </div>
            <div id="lottoTitle">
              <h2 class="fs-4 fw-bold">Lotto</h2>
              <p class="mb-0">Dive into Lotto's thrill. Numbers unfold, destinies unknown. In each draw,
                chance dances</p>
            </div>
            <div id="lottoContent" style="display: none;">
              <label for="anzahlTickets">Number of tickets :</label>
              <input class="form-control" id="anzahlTickets" max="8" min="1"
                     onclick="stopPropagation(event)" type="number" value="1">

              <button class="btn btn-primary btn-sm mt-3"
                      onclick="lottotrain(); stopPropagation(event)"
                      type="button">get tickets 6 aus 49
              </button>

              <div class="mt-3" id="lottoResults"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100" onclick="toggleKenoContent()">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 ">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
              <img alt="Keno-Icon" class="custom-icon no-select rounded" src="./assets/picIndex/keno.jpg">
            </div>
            <div id="kenoTitle">
              <h2 class="fs-4 fw-bold">Keno</h2>
              <p class="mb-0">Keno's world of randomness. Numbers cascade, fate revealed. Unpredictable
                excitement.</p>
            </div>
            <div id="kenoContent" style="display: none;">
              <label for="anzahlkenoTickets">Embark on the Keno adventure by selecting</label>
              <input class="form-control" id="anzahlkenoTickets" max="8" min="1"
                     onclick="stopPropagation(event)"
                     type="number" value="1">
              <label for="anzahlNummern">distinctive Keno tickets, each with</label>
              <input class="form-control" id="anzahlNummern" max="20" min="1"
                     onclick="stopPropagation(event)"
                     type="number" value="1">
              <label for="pool">chosen numbers. Experience the thrill with numbers up to :</label>
              <input class="form-control" id="pool" max="80" min="1" onclick="stopPropagation(event)"
                     type="number" value="80">
              <p>and customize your adventure by setting the maximum number limit!</p>
              <button class="btn btn-primary btn-sm mt-3"
                      onclick="kenotrain(); stopPropagation(event)"
                      type="button">get keno ticket
              </button>

              <div class="mt-3" id="kenoResults"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100 no-select" onclick="toggleShuffleText(event)">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
              <img alt="Shuffle-Icon" class="custom-icon no-select rounded" src="./assets/picIndex/shuffle.jpg">
            </div>
            <div id="shuffleTitle">
              <h2 class="fs-4 fw-bold">Card Shuffler</h2>
              <p class="mb-0">Cards shuffle, a random dance. Every deck a unique tale. The shuffler's art
                reveals surprise.</p>
            </div>
            <div id="shuffleText" style="display: none;">
              <label for="numOfCards">Number of Cards:</label>
              <input type="number" id="numOfCards" name="numOfCards" min="1" max="52" value="4"
                     onclick="stopPropagation(event)"><br><br>
              <label for="numOfDecks">Number of Decks:</label>
              <input type="number" id="numOfDecks" name="numOfDecks" min="1" value="1"
                     onclick="stopPropagation(event)"><br><br>
              <button class="btn btn-primary" id="drawCard" onclick="stopPropagation(event)">Draw Cards
              </button>
              <div id="cardsOutput" style="margin-top: 20px;"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100 no-select" onclick="toggleBirdieText(event)">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
              <img alt="Birdie-Icon" class="custom-icon no-select rounded" src="./assets/picIndex/birdie-fund.jpg">
            </div>
            <div id="birdieTitle">
              <h2 class="fs-4 fw-bold">Birdie Fund Randomizer</h2>
              <p class="mb-0">Unlock the Birdie Fund Randomizer and let atmospheric noise guide your game.
                Embrace the mystic randomness and discover your winning holes. Good luck, cyber
                golfer!</p>
            </div>
            <div id="birdieText" style="display: none;">
              <label for="numBirdies">Number of Birdies:</label>
              <input type="number" id="numBirdies" name="numBirdies" min="1" max="18" value="1"><br><br>
              <label for="courseType">Course Type:</label>
              <select id="courseType" name="courseType">
                <option value="9b">9 Back</option>
                <option value="9f">9 Front</option>
                <option value="18">18 Holes</option>
              </select><br><br>
              <button class="btn btn-primary" onclick="drawBirdies(event)">Generate Birdies</button>
              <div id="birdieResult" style="margin-top: 20px;"></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

