.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

body {
  font-family: 'Roboto', 'Ubuntu', sans-serif;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.slogan {
  font-weight: 800;
  text-transform: uppercase;
}

.custom-icon {
  width: 64px;
  height: 64px;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none !important;
}

.custom-card {
  width: 120px;
  height: 170px;
  border-radius: 0.6rem;
}
