<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-lg-5">
    <a class="navbar-brand" href="index.html">Project Mystery Box</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a aria-current="page" class="nav-link active" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pp" routerLinkActive="active">Privacy policy</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/imprint" routerLinkActive="active">Imprint</a></li>
      </ul>
    </div>
  </div>
</nav>
