.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}

.cookie-consent-banner .message {
  display: inline-block;
  margin-right: 20px;
}

.cookie-consent-banner .button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.cookie-consent-banner .button.reject {
  background-color: #dc3545;
}

.cookie-consent-banner .button:hover {
  background-color: #0056b3;
}

.cookie-consent-banner .button.reject:hover {
  background-color: #c82333;
}

.cookie-consent-banner a {
  color: #007bff;
  text-decoration: underline;
}

.cookie-consent-banner a:hover {
  color: #0056b3;
}
