

<header class="py-5">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
      <div class="m-4 m-lg-5">
        <h1 class="display-3 fw-bold">Imprint</h1>
        <p>Company: Tech Innovators Inc.</p>
        <p>Address: 789 Innovation Drive, Tech City, 12345</p>
        <p>Phone: +1234567890</p>
        <p>Email: contact(at)techinnovators.com</p>
        <p>Represented by: John Doe</p>
        <p>Registered at: Tech Court, Tech City</p>
        <p>Commercial register number: ABC123456</p>
        <p>VAT identification number: US123456789</p>
        <p>Photo credits: Photographer John Doe</p>
        <a class="btn btn-primary btn-lg" href="index.html">Back</a>
      </div>
    </div>
  </div>
</header>


