
<header class="py-5">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
      <div class="m-4 m-lg-5">
        <h1 class="display-3 fw-bold" style="padding: 30px;">Privacy Policy</h1>

        <p>Random Game Generator respects the privacy of its users and is committed to protecting their personal information. This Privacy Policy outlines how we collect, use, and safeguard the information you provide while using our website.</p>

        <h3 style="padding: 30px;">Information Collection and Use</h3>

        <p>We may collect personally identifiable information, such as names, email addresses, and other contact details, when voluntarily submitted by our visitors. This information is used to fulfill your specific requests and improve our services.</p>

        <h3 style="padding: 30px;">Log Data</h3>

        <p>We collect information that your browser sends whenever you visit our site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our site that you visit, the time and date of your visit, and other statistics.</p>

        <h3 style="padding: 30px;">Cookies</h3>

        <p>Our website may use <a href="https://www.cookiesandyou.com">"cookies"</a> to enhance the user experience. You can choose to disable cookies in your browser settings, but this may affect your ability to access certain parts of our site.</p>

        <h3 style="padding: 30px;">Security</h3>

        <p>We take reasonable measures to protect your personal information from unauthorized access or disclosure. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure.</p>

        <h3 style="padding: 30px;">Third-Party Links</h3>

        <p>Our website may contain links to third-party sites. We have no control over the content or practices of these sites and are not responsible for their privacy policies.</p>

        <h3 style="padding: 30px;">Changes to This Privacy Policy</h3>

        <p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be posted on this page with an updated date.</p>

        <h3 style="padding: 30px;">Contact Us</h3>

        <p>If you have any questions or suggestions about our Privacy Policy, please contact us at <a href="Imprint.html">Random Game Generator</a>.</p>
      </div>
      <a class="btn btn-primary btn-lg" href="index.html">Back</a>
    </div>
  </div>
</header>

